<h3>Create New Post</h3>
<form action="/admin/createposts" class="mt-4 ml-4" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title" aria-describedby="titlehelp" placeholder="Enter Title">
        <!--<small id="titlehelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      </div>
      <div class="form-group">
        <label for="mainimg">Main Image</label>
        <input type="file" class="form-control" name="mainimg" id="mainimg" aria-describedby="filehelp">
        <small id="filehelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="catto">Category</label>
        <select class="form-select form-control w-100" name="catto" id="catto">
          <option selected disabled>Open this select menu</option>
          <% category.forEach(category => { %>
          <option value="<%= category.CategoryName %>"> <%= category.CategoryName %> </option> 
          <% }) %>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" placeholder="Enter description"></textarea>
      </div>
      <input type="submit" class="btn btn-outline-success w-100" value="Submit">
</form>
