<div class="container">
    <ul type="none" class="visitmynav">
        <li><a class="nav-link text-nav1" href="/">HOME</a></li>
        <li><a class="nav-link text-nav1" href="/about">PROJECT</a></li>
        
    </ul>
</div>