<div class="container">
    <%- include('../partials/message') %>
    <br>
    <div class="container">
        <center>
            <h2 class="p-3 text-center"><span class="text-danger">Admin</span> Login Page</h2>
        <form action=""  class="jumbotron bg-transparent mt-5" style="border-top: 1px solid black;" method="post">
            <input class="form-control" placeholder="UserName" type="text" name="user" id="user"><br>
            <input class="form-control" type="password" name="pass" placeholder="Password" id="pass"><br>
            <input class="btn btn-outline-success w-100"  type="submit" value="Login">
        </form>
        </center>
    </div>
</div>